{% extends "base.html" %}

{% block content %}
<div class="password-page">
    <div class="password-card">
        <h2>Change Password</h2>

        <form method="post">
            {% csrf_token %}

            <label>Old Password</label>
            {{ form.old_password }}

            <label>New Password</label>
            {{ form.new_password1 }}

            <label>Confirm Password</label>
            {{ form.new_password2 }}

            <button type="submit">Update Password</button>
        </form>
    </div>
</div>
<style>.password-page{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}

.password-card{
    width:100%;
    max-width:420px;
    background:white;
    padding:32px;
    border-radius:18px;
    box-shadow:0 15px 45px rgba(0,0,0,.12);
}

.password-card h2{
    margin-bottom:24px;
}

.password-card label{
    display:block;
    margin:12px 0 8px;
    font-weight:600;
}

.password-card input{
    width:100%;
    padding:12px;
    border:1px solid #cbd5e1;
    border-radius:12px;
}

.password-card button{
    width:100%;
    margin-top:20px;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#E31E24;
    color:white;
    cursor:pointer;
}</style>
{% endblock %}